<div class="container">
    <form action="/dashboard" method="POST">
    <input type="text" name="group" placeholder="Group Name"/>
    <input type="text" name="country" placeholder="Country"/>
    <input type="file" name="upload" id="upload-input" accept="image/*"/>
    <button type="submit" class="btn btn-danger">Create Group</button>
    </form>
</div>
