#main-body-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}
h2 {
    text-align: center;
}
.btn-facebook {
    background: #4aa1f3;
    border-radius: 0%;
    color: #fff;
    width: 100px;
}
.btn-facebook:link, .btn-facebook:visited{
    color: #fff;
    text-decoration: none;
    background: #4aa1f3;
}
.btn-facebook:active, .btn-facebook:hover{
    background: #4aa1f3;
    color: #fff;
}
/*GOOGLE BTN STYLE*/
.btn-gplus {
    background: #e44b34;
    border-radius: 0%;
    color: #fff;
    width: 100px;
}

.btn-gplus:link,
.btn-gplus:visited {
    color: #fff;
    text-decoration: none;
    background: #e44b34;
}

.btn-gplus:active,
.btn-gplus:hover {
    background: #e44b34;
    color: #fff;
}